@media (max-width: 1024px){

}

@media (max-width: 991px){
    .text-content{
        width: 100%;
    }
    .navbar-nav{
        padding-right: 35%;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    .mainpage{
        padding: 10.375rem 0 10.375rem;
    }
    .story-section{
        height: auto;
        padding: 3rem 0;
    }
}

@media (max-width: 767px){
    
}